/* CSS Document */

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size:small;
}
code, pre {
	font-size:small;
}
dt {
	font-weight:bold;
}
dd {
	padding-bottom:5px;
}
.style1 {font-size: small}
a:link {
	color: #660099;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #663399;
}
a:hover {
	text-decoration: underline;
	color: #660099;
}
a:active {
	text-decoration: none;
	color: #9900CC;
}

h1 {
	margin-top: 0px;
}
h3 {
	width: 100%;
	background-color: #E8E8E8;
	padding: 3px;
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
	font-size: medium;
}

.novertspace {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.divider {
	border-color: #660099;
	border-bottom-color: #660099;
	border-bottom-style: dashed;
	border-bottom-width: thin;
	padding-bottom: 10px;
}

.menu{
	float:right;
	border-color: #666666;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	background-color: #E2D7EA;
}
.alt{
	background-color: #F1EBF5;
}
